<strong> Olá, {{deliveryman}} </strong>
<p>A entrega de ID {{deliveryId}} foi <strong>cancelada</strong>! </p>
<p> Data de cancelamento:
  <span style="color: red;">
    {{date}}
  </span>
</p>

<p> Nome do produto: {{product}} </p>
<p> Nome do destinatário: {{recipient}} </p>
<p style="margin-bottom: 0;">
  <small>
    Tenha um ótimo dia!
  </small>
</p>
