<strong> Olá, {{deliveryman}} </strong>
<p>Existe uma nova entrega (ID {{deliveryId}})
  para você fazer. Confira os detalhes abaixo:</p>
<p> Nome do produto: {{product}} </p>
<p> Nome do destinatário: {{recipient}} </p>
<p> Endereço:
  {{state}},
  {{city}},
  {{street}},
  {{number}}.
  {{complement}}
</p>
<p style="margin-bottom: 0;">
  <small>
    Bom trabalho!
  </small>
</p>
